<h1>Bonjour, voici le lien pour réinitialiser votre mot de passe</h1>

<p>
    Merci de confirmer de renseigner un nouveau mot de passe en suivant ce lien: <br><br>
    le lien
</p>

<p>
    Salutations !
</p>