{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <div class="container container-form">
            <h2>Vous êtes déjà connecté !</h2>
            <p class="text-center mt-3">Accéder à la page d'accueil <a href="/">Connectez-vous</a></p>
        </div>
        {% else %}
    <div class="container container-form">
        <h1 class="text-center text-uppercase text-warning fs-2">Nouveau mot de passe</h1>
        <p class="text-center mt-3">
            Veuillez entrer votre nouveau mot de passe. <br> Nous vous enverrons en un mail pour confirmer que votre mot de passe a bien été mis à jour !
        </p>
        {{ form_start(UpdatePasswordForm, {'attr': {'class': 'form bg-light m-2 p-4 rounded-3'}}) }}
        {{ form_row(UpdatePasswordForm.password) }}
        <button type="submit" class="btn btn-warning btn-form">Mettre à jour</button>
        {{ form_end(UpdatePasswordForm) }}
    </div>
    {% endif %}
{% endblock %}