{% extends 'base.html.twig' %}
{% block body %}
    <div class="my-container">
        <!-- HEADER -->
        <div class="header">
            {% include 'header.html.twig' %}
        </div>

        <!-- BANNER -->
        <div class="content-large">
            <img src="{{ asset('images/snowTricks.jpg') }}" alt="snowTricks-banner" class="banner-image">
            <div class="titre-banner">
                <h1 class="text-warning">SnowTricks</h1>
                <p class="text-light">Un site communautaire pour apprendre les figures de snowboard.</p>
            </div>
            <div class="fleche-bas">
                <img src="{{ asset('images/fleche-vers-le-bas.png') }}" alt="snowTricks-banner" class="fleche-bas">
            </div>
        </div>
    </div>

    <!-- DISPLAY TRCIKS -->
    <div class="grid-container">
    {% if tricks %}
        {% for figure in tricks %}
                <div class="card grid-item">
                    <img src={{ figure.imageUrl }} class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ figure.title }}</h5>
                    </div>
                </div>
        {% endfor %}
    {% endif %}
    </div>

{% endblock %}