{% extends 'base.html.twig' %}
{% block body %}
    <div class="my-container">
        <!-- HEADER -->
        <div class="header">
            {% include 'header.html.twig' %}
        </div>

        <!-- BANNER -->
        <div class="content-large">
            <img src="{{ asset('images/snowTricks.jpg') }}" alt="snowTricks-banner" class="banner-image">
            <div class="titre-banner">
                <h1 class="text-warning">SnowTricks</h1>
                <p class="text-light">Un site communautaire pour apprendre les figures de snowboard.</p>
            </div>
            <div class="fleche-bas">
                <i class="fa-solid fa-arrow-down fleche-bas"></i>
            </div>
        </div>
    </div>

    <!-- DISPLAY TRICKS -->
    <div class="grid-container">
        {% if tricks %}
                {% for figure in tricks %}
                        <div class="card grid-item">
                            <img src={{ figure.imageUrl }} class="card-img-top" alt={{ figure.title }}>
                            <div class="card-body">
                                <h5 class="card-title">{{ figure.title }}</h5>
                            </div>
                        </div>
                {% endfor%}

                {% if tricks |length  > 10 %}
                    <div id="loading">
                        <button type="button" id="load-more" class="btn btn-lg btn-outline-warning" onclick="addMore()">Load more</button>
                    </div>

                    <div class="fleche-haut d-flex justify-content-end">
                        <i class="fa-solid fa-arrow-up"></i>
                    </div>
                {% endif %}

        {% endif %}
    </div>
{% endblock %}