<h1>Bonjour, merci de confirmer votre adresse mail !</h1>

<p>
    Merci de confirmer votre adresse mail en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl }}">Confirm my Email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Salutations !
</p>
