<!--NAV MOBILE-->
<nav class="navigation-mobile">
    <div class="bloc-icon">
        <img src="{{ asset('images/page-daccueil.png') }}" alt="Home">
    </div>
    <div class="bloc-icon">
        <img src="{{ asset('images/bookmark.png') }}" alt="element">
    </div>
    <div class="bloc-icon">
        <img src="{{ asset('images/user.png') }}" alt="connexion">
    </div>
</nav>

<!--NAV DESKTOP-->
<nav class="navigation-desktop pt-3 bg-warning">
    <div class="container">
        <a class="liens" href="/">SnowTricks</a>
        <ul class="liens-navigation">
            <li class="px-3"><a class="liens" href="">Tricks</a></li>
            <li>|</li>
            <li class="px-3"><a class="liens" href="">Sign-In</a></li>
            <li>|</li>
            <li class="px-3"><a class="liens" href="">Sign-Up</a></li>
        </ul>
    </div>
</nav>