<!--NAV MOBILE-->
<nav class="navigation-mobile">
    <div class="bloc-icon">
        <img src="{{ asset('images/page-daccueil.png') }}" alt="Home">
    </div>
    <div class="bloc-icon">
        <img src="{{ asset('images/bookmark.png') }}" alt="element">
    </div>
    <div class="bloc-icon">
        <img src="{{ asset('images/user.png') }}" alt="connexion">
    </div>
</nav>

<!--NAV DESKTOP-->
<nav class="navigation-desktop bg-warning h-100 d-flex align-items-center justify-content-between px-5">

        <a class="liens pl-5" href="/">SnowTricks</a>
        <ul class="liens-navigation mb-0">
            <li class="px-3"><a class="liens" href="#tricks-part-homepage">Tricks</a></li>
            <li>|</li>
            <li class="px-3"><a class="liens" href="">Sign-In</a></li>
            <li>|</li>
            <li class="px-3"><a class="liens" href="">Sign-Up</a></li>
        </ul>

</nav>